# This is a list of files that should be ignored by Git.
# It includes files that are not necessary for version control, such as temporary files, logs, and environment files.

# Environment file for storing sensitive information like API keys
.env

# Python virtual environment directory
venv/

# Stock data files
stock-data-with-yfinance/apple_stock_1y_history.csv
stock-data-with-yfinance/apple-1yr-stock-graph.png

# Social media analysis files
socialmediapostdata.csv
main-v1.py
main-template.py


#  vscode settings and extensions
.vscode

# Python cache files
__pycache__/

# Stock Monitor App specific
stock-monitor-app/.env
stock-monitor-app/venv/

# Web Scraper specific
web-scrapper/downloads/
web-scrapper/scraper.log
web-scrapper/config.py
web-scrapper/.env

# Project Overview files
PROJECT_OVERVIEW.md

git.txt

data.js
